Repository sk-sharif/angular-dashboard: changes, and which Jenkins stages are due for each by the changed paths.
All: Build project A, Build project B

Build project A:
              steps {
                  echo 'changed in Build A'
                script {
                  sh '''
                  cd adsbrain-feed-etl/docker-images/adsbrain-feed/
                      docker build -t ${registry}":$BUILD_NUMBER" .
                      '''
  ...

Build project B:
              steps {
                  echo 'changed in Build B'
                script {
                  dockerImage = docker.build registry + ":$BUILD_NUMBER"
                      docker.withRegistry( '', registryCredential ) {
                          dockerImage.push("$BUILD_NUMBER")
  ...

Create notes
  adsbrain-feed-etl/notes
Due: Build project A

Update notes
  adsbrain-feed-etl/notes
Due: Build project A

Update Jenkinsfile
  Jenkinsfile
Due: none

Create Notes
  ch1-2-migration/Notes
Due: Build project B

Update Notes
  ch1-2-migration/Notes
Due: Build project B

Update Dockerfile
  adsbrain-feed-etl/docker-images/adsbrain-feed/Dockerfile
Due: Build project A

Create Notes
  adsbrain-feed-etl/Notes
Due: Build project A

Update Notes
  adsbrain-feed-etl/Notes
Due: Build project A

Create Jenkinsfile
  adsbrain-feed-etl/Jenkinsfile
Due: Build project A

Path conditions:
  Build project A: any of: adsbrain-feed-etl/**
  Build project B: any of: ch1-2-migration/**
