Repository sk-sharif/angular-dashboard: changes, and which Jenkins stages are due for each by the changed paths.
All: Build project A, Build project B, Deploying Master branch, Deploying Staging branch, Deploying Test branch

Build project A:
        steps {
          echo 'Building in Build A'
          script {
            docker.withRegistry( '', registryCredential ) {
              def dockerfile = 'Dockerfile'
  ...

Build project B:
        steps {
          echo 'Building in Build B'
          script {
            docker.withRegistry( '', registryCredential ) {
              def dockerfile = 'Dockerfile'
  ...

Deploying Master branch:
        steps {
          echo 'Deployed Master Branch'
        }
      

Deploying Staging branch:
        steps {
          echo 'Deployed Staging Branch'
        }
      

Deploying Test branch:
        steps {
          echo 'Deployed Test Branch'
        }
      

Update notes
  adsbrain-feed-etl/notes
Due: Build project A

Update Jenkinsfile
  Jenkinsfile
Due: none

Docker With Registry
  Jenkinsfile
Due: none

Create file
  ch1-2-migration/schema/migration/file
Due: Build project B

Create Jenkinsfile-pipeline
  Jenkinsfile-pipeline
Due: none

Update Jenkinsfile-pipeline
  Jenkinsfile-pipeline
Due: none

Update file
  ch1-2-migration/schema/migration/file
Due: Build project B

Update README.md
  README.md
Due: none

Create file
  file
Due: none

Path conditions:
  Build project A: any of: adsbrain-feed-etl/**
  Build project B: any of: ch1-2-migration/**
  Deploying Master branch: (any of: adsbrain-feed-etl/**) and (any of: ch1-2-migration/**)
  Deploying Staging branch: (any of: adsbrain-feed-etl/**) and (any of: ch1-2-migration/**)
  Deploying Test branch: (any of: adsbrain-feed-etl/**) and (any of: ch1-2-migration/**)
